* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
    background: #e6e6e6 !important;
}


 /* Hero Section */

 /* Banner */

.hero-section {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.banner {
    height:5%;
    width: 100%;
    background-color: #DCDEDB;
}

.banner-email {
    margin-top: 5px;
    height: 100%;
    margin-left: 50px;
}

.banner-email:hover {
    cursor: pointer;
}

.nav-logo {
    width: 40%;
    margin-left: 35px;
 }

.banner-phone {
    margin-top: 5px;
    height: 100;
    margin-right: 50px; 
    font-weight: bold;
}


  /* Nav Bar */
.nav-section {
   width: 100%;
}

.nav-logo {
   width: 40%;
   margin-left: 35px;
}

.navbar-brand {
   width: 30%;
}


/* Banner Photo */

.banner-photo-con {
    background: linear-gradient(rgba(255, 255, 255, 0.726), rgba(255, 255, 255, 0.753)), url(../photos/banner_bg.jpeg);
    background-position: center center;
    background-size: cover;
    width: 100;
    height: 100vh;
}

.tagline-con {
    height: 100%;
    display: flex;
    align-items: center;
}

.tagline-con h1 {
    font-size: 130px;
    margin-left: 80px;
    margin-bottom: 120px;
}



.pain {
    color: #FF0000;
}

.buttons-con {
    height: 100%;
}

.buttons {
    margin-bottom: 95px;
}

.contactus-btn {
    background-color: #00BF63;
    font-size: 30px;
    width: 80%;
    height: 60px;
    border-radius: 30px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-btn {
    background-color:#3390B8;
    font-size: 20px;
    width: 80%;
    height: 60px;
    border-radius: 30px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.phone-btn {
    background-color:#FF914D;
    font-size: 30px;
    width: 80%;
    height: 60px;
    border-radius: 30px;
    margin-bottom: 80px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contactus-btn:hover {
    background-color: #016e3a;
}

.chat-btn:hover {
    background-color: #076188;
}

.phone-btn:hover {
    background-color:#ff6b10 ;
}

 /* Media Query */

 @media only screen and (max-width: 575px) {

    .tagline-con {
        height: 30%;
        display: flex;
        align-items: start;
    }   

    #tagline {
        font-size: 60px !important;
        margin-right: 80px !important;
        margin-top: 30px !important;
        text-align: center;
    }

    .buttons-con {
        margin: 0 !important;
        display: flex !important;
        justify-content: center !important;
    }

    .buttons {
        margin-bottom: 140px !important;
    }

    .buttons div {
        display: flex;
        justify-content: center;
    }

    .contactus-btn {
        background-color: #00BF63;
        font-size: 25px;
        width: 80%;
        height: 60px;
        border-radius: 30px;
        border: 0;
        padding: 0;
    }

    .chat-btn {
        background-color:#3390B8;
        font-size: 18px;
        width: 80%;
        height: 60px;
        border-radius: 30px;
        border: 0;
    }

    .phone-btn {
        background-color:#FF914D;
        font-size: 20px;
        width: 80%;
        height: 60px;
        border-radius: 30px;
        margin-bottom: 80px;
        border: 0;
    }
}




@media only screen and (max-width: 431px) {

    #tagline {
        font-size: 80px !important;
        margin: 0;
        margin-left: 80px;
        margin-bottom: 100px;
    }

    .banner-email {
        margin-top: 12px !important;
        height: 100%;
        margin-left: 50px;
    }
    
    .banner-phone {
        margin-top: 12px !important;
        height: 100;
        margin-right: 50px; 
        font-weight: bold;
    }
}



@media only screen and (max-width: 630px) {

    #tagline {
        font-size: 81px;
        margin: 0;
        margin-left: 80px;
        margin-bottom: 100px;
    }

    .nav-logo {
        width: 100%;
        margin-left: 20px;
     }
}


@media only screen and (max-width: 930px) {

    .banner {
        font-size: 12px;
    }

    .banner-email {
        margin-top: 5px;
        margin-left: 8px;
    }
    
    .banner-phone {
        margin-top: 5px;
        margin-right: 8px;
    }

    .tagline-con h1 {
        font-size:100px;
        margin-left: 80px;
        margin-bottom: 100px;
    }
    

    .contactus-btn {
        background-color: #00BF63;
        font-size: 25px;
        width: 80%;
        height: 60px;
        border-radius: 30px;
        border: 0;
    }

    .chat-btn {
        background-color:#3390B8;
        font-size: 18px;
        width: 80%;
        height: 60px;
        border-radius: 30px;
        border: 0;
    }

    .phone-btn {
        background-color:#FF914D;
        font-size: 20px;
        width: 80%;
        height: 60px;
        border-radius: 30px;
        margin-bottom: 80px;
        border: 0;
    }
}


@media only screen and (max-width: 1023px) {

    .buttons {
        margin: 0;
    }

    .contactus-btn {
        background-color: #00BF63;
        font-size: 25px;
        width: 80%;
        height: 60px;
        border-radius: 30px;
        border: 0;
    }

    .chat-btn {
        background-color:#3390B8;
        font-size: 18px;
        width: 80%;
        height: 60px;
        border-radius: 30px;
        border: 0;
    }

    .phone-btn {
        background-color:#FF914D;
        font-size: 20px;
        width: 80%;
        height: 60px;
        border-radius: 30px;
        margin-bottom: 80px;
        border: 0;
    }

    .banner-email {
        margin-left: 20px;
    }
    
    .banner-phone {
        margin-right: 20px; 
        font-weight: bold;
    }

}

@media only screen and (max-width: 385px) {

    #tagline {
        font-size: 60px !important;
        margin: 0;
        margin-left: 80px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 320px) {

    #tagline {
        font-size: 50px !important;
        margin: 0;
        margin-left: 80px;
        margin-bottom: 100px;
    }
}


@media only screen and (max-width: 280px) {

    #tagline {
        font-size: 45px !important;
        margin: 0;
        margin-left: 80px;
        margin-bottom: 100px;
    }
}